# Trashbin
trashbin

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.test

# Log files
*.log
*.in

# Binary files
*.bin
*.img
*/bin/*
*.mod

# Swap files
*.swp
*.swo

# Dependence files
*.d

# Backup files
*.bak
*~
